@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin:0;
    padding:0;
    font-family: var(--primary-font);
    
  
}

html {
    scroll-behavior: smooth;
}
:root {
    --beige-color: #FFF7EA;
    --brun-color: #90755C;
    --mørkebrun-color:#241C15;
    --primary-font: 'KoHo', sans-serif;

}

header.black {
    background:var(--mørkebrun-color);
    height: 135px;
    opacity: 0.8;

}
.logo {
  
        width: 40px;
        float: left;
        margin: 30px 0 0 90px;
        opacity: 0.75;
  
    
}

header {
    
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
   
    
}



.navbar, ul, li {
    list-style: none;
    display: inline-block;
    margin: 20px;

}

.navbar, li, a{
    padding-left: 40px;
    text-decoration: none;
    font-size: 25px;
    font-weight: medium 500;
    color:var(--beige-color);
    font-family: var(--primary-font);
    font-weight: medium 500;
    
    
}

#forside {
    background-image: url(images/baggrund.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    float: left;

}

h2 {
    text-align: center;
    color: var(--beige-color);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 53px;
    text-transform: uppercase;

   
   
  
}

h3 {
    text-align: center;
    color: var(--brun-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 3px;
    margin: 10px;
    text-transform: uppercase;
    

    
}

.overskrift {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 12rem;
  
    
    
}

button {
    background-color: var(--brun-color);
    color: var(--beige-color);
    border: none;
    text-align: center;
    border-radius: 45px;
    cursor: pointer;
    padding: 17px 50px;
    font-size: 35px;
}


.pilimg {
    padding-top: 200px;
    
}

/*Styling af andet section, velkommen*/

#velkommen {
    background-color: var(--beige-color);
    width: 100%;
    height: 100vh;
    float: left;
}

.bagels2 {
    display: flex;
    flex-direction: row;
}

#bagels {
    background-color: var(--brun-color);
    width: 100%;
    height: 100vh;
    float: left;
}

#menu {
    background-color: var(--mørkebrun-color);
    width: 100%;
    height: 100vh;
    float: left;
}

#arrangementer{
    background-color: var(--beige-color);
    width: 100%;
    height: 100vh;
    float: left;
}

#åbningstider {
    background-color: var(--brun-color);
    width: 100%;
    height: 100vh;
    float: left;
}
