@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    margin:0;
    padding:0;
    font-family: var(--primary-font);
}

html {
    scroll-behavior: smooth;
}

:root {
    --beige-color: #FFF7EA;
    --brun-color: #90755C;
    --mørkebrun-color:#241C15;
    --primary-font: 'KoHo', sans-serif;
}

header.black {
    background:var(--mørkebrun-color);
    height: 135px;
    opacity: 0.8;
}

.logo {  
        width: 40px;
        float: left;
        margin: 30px 0 0 90px;
        opacity: 0.75;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar, ul, li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.navbar, li, a{
    padding-left: 40px;
    text-decoration: none;
    font-size: 25px;
    font-weight: medium 500;
    color:var(--beige-color);
    font-family: var(--primary-font);
    font-weight: medium 500;
}

#forside {
    background-image: url(images/baggrund.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    float: left;
}

h2 {
    text-align: center;
    color: var(--beige-color);
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 53px;
    text-transform: uppercase;
}

h3 {
    text-align: center;
    color: var(--brun-color);
    font-family: var(--primary-font);
    font-weight: 500;
    font-size: 25px;
    padding-top: 40px;
    padding-bottom: 3px;
    margin: 10px;
    text-transform: uppercase;
}

.overskrift {
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 12rem;
}

.knap {
    background-color: var(--brun-color);
    color: var(--beige-color);
    border: none;
    text-align: center;
    border-radius: 45px;
    cursor: pointer;
    padding: 17px 50px;
    font-size: 35px;
}

.pilimg {
    padding-top: 150px;
}

.pil {
    position: relative;
    animation-name: animation;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    padding: 0;
}

@keyframes animation {
    from {top: 0px;}
    to {top: 5px; }
}

/*Styling af andet section, velkommen*/
#velkommen {
    background-color: var(--beige-color);
    width: 100%;
    height: 100vh;
    float: left;
}

.bagels2 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
}

.bagels {
    margin: 150px;
}

.overskrift2 {
    color: var(--mørkebrun-color);
    line-height: 1.25;
    font-size: 32px;
    font-weight: 600;
}

span {
    color: var(--brun-color);
}

.border {
    border-bottom: 5px solid var(--brun-color);
}  

.tekst {
    margin-right: 100px;
    padding-top: 15px;
    line-height: 1.5;
    font-size: 25px;
    color: var(--mørkebrun-color);
}

.ejerne {
    padding: 100px;
    padding-top: 180px;
    padding-left: 0px;
    padding-right: 120px;
    width: 450px;
    height: 450px;
}

/* Section 3 byg megabagel starter her */
#bagels {
    background-color: var(--brun-color);
    width: 100%;
    height: 150vh;
    float: left;
}

.section3 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;    
}

.overskrift3 {
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
}

.trin {
    color: var(--mørkebrun-color);
    border-bottom: 5px solid var(--mørkebrun-color);
    font-weight: 500;    
}

.brødtekst{
    margin: 100px;
    padding-top: 20px;
}

.tekst2 {
    margin-right: 90px;
    padding-top: 1px;
    line-height: 1.5;
    font-size: 25px;
    color: var(--beige-color);
}

.tal {
    background-color: #DDA136;
    border-radius: 200px;
    padding: 9px 15px;
    border: 4px solid #721A0C;
    font-weight: bold;
}

.tal2 {
    background-color: #DDA136;
    border-radius: 200px;
    padding: 8px 17px;
    border: 4px solid #721A0C;
    font-weight: bold;
}

.megabagel {
    width: 750px;
    height: 900px;
    padding-top: 80px;
}

/*menu afsnit */
#menu {
    background-color: var(--mørkebrun-color);
    width: 100%;
    height: 130vh;
    float: left;
}

.overskrift4 {
    text-align: left;
    font-size: 32px;
    font-weight: 500;
    padding-left: 150px;
    padding-top: 40px;
}

.menuen {
    border-bottom: 5px solid var(--beige-color);
    font-weight: 700;
    color: var(--beige-color);
}

.pris {
    color: var(--beige-color);
    float: right;
}

h4 {
    font-size: 30px;
    font-weight: 500;
}

.menu-liste {
    padding: 0 150px;
    padding-top: 25px;
    color: var(--beige-color);
    font-weight: 500;
    font-size: 23px;
    line-height: 0.1;
}

#arrangementer{
    background-color: var(--beige-color);
    width: 100%;
    height: 100vh;
    float: left;
}

.section4 {
    display: flex;
    flex-direction: row;
    padding-top: 40px;  
}

.arrangementer1 {
    margin-top: 150px;
    padding-left: 150px;
}

.overskrift5 {
    color: var(--mørkebrun-color);
    line-height: 1.25;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
}

span {
    color: var(--brun-color);
}
 
.tekst3 {
    margin-right: 100px;
    padding-top: 15px;
    line-height: 1.5;
    font-size: 25px;
    color: var(--mørkebrun-color);
}

.bagel3 {
    padding: 100px;
    padding-top: 180px;
    padding-right: 0px;
    padding-left: 120px;
    width: 450px;
    height: 450px;
}

/*styling af sectionen åbningstider starter her*/
#åbningstider {
    background-color: var(--brun-color);
    width: 100%;
    height: 130vh;
    float: left;
}

.åben {
    border-bottom: 5px solid var(--mørkebrun-color);
    font-weight: 700;
    font-size: 35px;
    color: var(--mørkebrun-color);
    float: left;
    
}

.ugedag {
   padding-top: 40px;
   font-size: 30px;
   font-weight: 600;
   margin-right: 30px;
}

.dage {
    margin-left: 150px;
}


.tider {
    display: flex;
    flex-direction: row;
    color: var(--beige-color);
    padding-top: 120px;
}

.tid {
    padding-top: 95px;
    font-size: 30px;
    line-height: 1.42;
}

div.lokation {
    background-color: var(--mørkebrun-color);
    position: absolute;
    right: 0;
    width: 800px;
    height: 470px;
    margin-top: 130px;
    

}

.maps {
    padding: 20px;
    
}
footer {
    background-color: var(--mørkebrun-color);
    color: var(--beige-color);
}

.info {
    display: flex;
    flex-direction: row;
}

.informationer {
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 70px;
    padding-top: 40px;
    font-size: 20px;
}

.overskriftfoot {
    font-size: 20px;
    
}

.socialemedier {
    display: flex;
    flex-direction: row;
}